{% extends 'base.html' %}
{% block graphtitle %}
<h2>
  <span class="dtype">Change in Price (%)</span>, <span class="commodity">Steel</span>
</h2>
<h3>United States</h3>
{% endblock %}
{% block data_picker %}
<form id="data_picker">
{% include 'includes/commodity_select.html' %}
{% include 'includes/region_checkbox.html' %}
</form>
{% endblock %}
{% block datatype %}Options.dtype = 'prices';{% endblock %}
{% block colormap %}Options.cmap = 'region';{% endblock %}
{% block graph_defaults %}Options.default_region = 'USA';
Options.default_commodity = 'STL';{% endblock %}
{% block bodyjs %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/js/cim_ajax.js"></script>
<script src="/static/js/line_graph.js"></script>
{% block inputjs %}<script src="/static/js/inputs.js"></script>{% endblock %}
{% endblock %}