  <fieldset>
    <label for="commodity">Commodities</label>
    <select id="commodity" name="commodity" class="data_select">
      <option value="LND">Land</option>
      <option value="LAB">Labor</option>
      <option value="CAP">Capital</option>
      <option value="NAT">NAT</option>
      <option value="AGF">AGF</option>
      <option value="OIL">Oil</option>
      <option value="GAS">Natural Gas</option>
      <option value="COL">Coal</option>
      <option value="PTL">Petroleum</option>
      <option value="MAN">MAN</option>
      <option value="CHM">Chemicals</option>
      <option value="CEM">Cement</option>
      <option value="STL" selected>Steel</option>
      <option value="NFM">Non-ferrous Metals</option>
      <option value="ELC">Electricity</option>
      <option value="WND">Wind</option>
      <option value="SLR">Solar</option>
      <option value="NUC">Nuclear</option>
      <option value="HYD">Hydro</option>
      <option value="CFP">CFP</option>
      <option value="BGA">BGA</option>
      <option value="PGA">PGA</option>
      <option value="POI">POI</option>
      <option value="TRN">TRN</option>
      <option value="TRL">TRL</option>
      <option value="TRA">TRA</option>
      <option value="TRS">TRS</option>
      <option value="OTS">OTS</option>
      <option value="GOV">GOV</option>
      <option value="INV">INV</option>
    </select>
  </fieldset>