  <fieldset>
    <label for="region">Commodities</label>
    <input type="checkbox" name="commodity" id="commodity_LND" value="LND">
    <label for="commodity_LND">Land</label><br>
    <input type="checkbox" name="commodity" id="commodity_LAB" value="LAB">
    <label for="commodity_LAB">Labor</label><br>
    <input type="checkbox" name="commodity" id="commodity_CAP" value="CAP">
    <label for="commodity_CAP">Capital</label><br>
    <input type="checkbox" name="commodity" id="commodity_NAT" value="NAT">
    <label for="commodity_NAT">NAT</label><br>
    <input type="checkbox" name="commodity" id="commodity_AGF" value="AGF">
    <label for="commodity_AGF">AGF</label><br>
    <input type="checkbox" name="commodity" id="commodity_OIL" value="OIL">
    <label for="commodity_OIL">Oil</label><br>
    <input type="checkbox" name="commodity" id="commodity_GAS" value="GAS">
    <label for="commodity_GAS">Natural Gas</label><br>
    <input type="checkbox" name="commodity" id="commodity_COL" value="COL">
    <label for="commodity_COL">Coal</label><br>
    <input type="checkbox" name="commodity" id="commodity_PTL" value="PTL">
    <label for="commodity_PTL">Petroleum</label><br>
    <input type="checkbox" name="commodity" id="commodity_MAN" value="MAN">
    <label for="commodity_MAN">MAN</label><br>
    <input type="checkbox" name="commodity" id="commodity_CHM" value="CHM">
    <label for="commodity_CHM">Chemicals</label><br>
    <input type="checkbox" name="commodity" id="commodity_CEM" value="CEM">
    <label for="commodity_CEM">Cement</label><br>
    <input type="checkbox" name="commodity" id="commodity_STL" value="STL" checked>
    <label for="commodity_STL">Steel</label><br>
    <input type="checkbox" name="commodity" id="commodity_NFM" value="NFM">
    <label for="commodity_NFM">Non-ferrous Metals</label><br>
    <input type="checkbox" name="commodity" id="commodity_ELC" value="ELC">
    <label for="commodity_ELC">Electricity</label><br>
    <input type="checkbox" name="commodity" id="commodity_WND" value="WND">
    <label for="commodity_WND">Wind</label><br>
    <input type="checkbox" name="commodity" id="commodity_SLR" value="SLR">
    <label for="commodity_SLR">Solar</label><br>
    <input type="checkbox" name="commodity" id="commodity_NUC" value="NUC">
    <label for="commodity_NUC">Nuclear</label><br>
    <input type="checkbox" name="commodity" id="commodity_HYD" value="HYD">
    <label for="commodity_HYD">Hydro</label><br>
    <input type="checkbox" name="commodity" id="commodity_CFP" value="CFP">
    <label for="commodity_CFP">CFP</label><br>
    <input type="checkbox" name="commodity" id="commodity_BGA" value="BGA">
    <label for="commodity_BGA">BGA</label><br>
    <input type="checkbox" name="commodity" id="commodity_PGA" value="PGA">
    <label for="commodity_PGA">PGA</label><br>
    <input type="checkbox" name="commodity" id="commodity_POI" value="POI">
    <label for="commodity_POI">POI</label><br>
    <input type="checkbox" name="commodity" id="commodity_TRN" value="TRN">
    <label for="commodity_TRN">TRN</label><br>
    <input type="checkbox" name="commodity" id="commodity_TRL" value="TRL">
    <label for="commodity_TRL">TRL</label><br>
    <input type="checkbox" name="commodity" id="commodity_TRA" value="TRA">
    <label for="commodity_TRA">TRA</label><br>
    <input type="checkbox" name="commodity" id="commodity_TRS" value="TRS">
    <label for="commodity_TRS">TRS</label><br>
    <input type="checkbox" name="commodity" id="commodity_OTS" value="OTS">
    <label for="commodity_OTS">OTS</label><br>
    <input type="checkbox" name="commodity" id="commodity_GOV" value="GOV">
    <label for="commodity_GOV">GOV</label><br>
    <input type="checkbox" name="commodity" id="commodity_INV" value="INV">
    <label for="commodity_INV">INV</label><br>
  </fieldset>