  <fieldset>
    <label for="region">Regions</label>
    <input type="checkbox" name="region" value="USA" id="region_USA" checked>
    <label for="region_USA">United States</label><br>
    <input type="checkbox" name="region" value="MEX" id="region_MEX">
    <label for="region_MEX">Mexico</label><br>
    <input type="checkbox" name="region" value="CAN" id="region_CAN">
    <label for="region_CAN">Canada</label><br>
    <input type="checkbox" name="region" value="OCN" id="region_OCN">
    <label for="region_OCN">Oceania</label><br>
    <input type="checkbox" name="region" value="JAP" id="region_JAP">
    <label for="region_JAP">Japan</label><br>
    <input type="checkbox" name="region" value="EAA" id="region_EAA">
    <label for="region_EAA">EAA</label><br>
    <input type="checkbox" name="region" value="SEA" id="region_SEA">
    <label for="region_SEA">Southeast Asia</label><br>
    <input type="checkbox" name="region" value="IND" id="region_IND">
    <label for="region_IND">India</label><br>
    <input type="checkbox" name="region" value="SOA" id="region_SOA">
    <label for="region_SOA">SOA</label><br>
    <input type="checkbox" name="region" value="BRA" id="region_BRA">
    <label for="region_BRA">Brazil</label><br>
    <input type="checkbox" name="region" value="LAM" id="region_LAM">
    <label for="region_LAM">LAM</label><br>
    <input type="checkbox" name="region" value="WEU" id="region_WEU">
    <label for="region_WEU">Western Europe</label><br>
    <input type="checkbox" name="region" value="REU" id="region_REU">
    <label for="region_REU">REU</label><br>
    <input type="checkbox" name="region" value="MNA" id="region_MNA">
    <label for="region_MNA">MNA</label><br>
    <input type="checkbox" name="region" value="AFR" id="region_AFR">
    <label for="region_AFR">Africa</label><br>
    <input type="checkbox" name="region" value="RUS" id="region_RUS">
    <label for="region_RUS">Russia</label><br>
  </fieldset>