  <fieldset>
    <label for="region">Region</label>
    <select id="region" name="region" class="data_select">
      <option value="USA" selected>United States</option>
      <option value="MEX">Mexico</option>
      <option value="CAN">Canada</option>
      <option value="OCN">Oceania</option>
      <option value="JAP">Japan</option>
      <option value="EAA">East Asia</option>
      <option value="SEA">Southeast Asia</option>
      <option value="IND">India</option>
      <option value="SOA">SOA</option>
      <option value="BRA">Brazil</option>
      <option value="LAM">LAM</option>
      <option value="WEU">Western Europe</option>
      <option value="REU">REU</option>
      <option value="MNA">Middle East</option>
      <option value="AFR">Africa</option>
      <option value="RUS">Russia</option>
    </select>
  </fieldset>