
<!DOCTYPE html>
<html>
<head>
  <title>Forms -- CIM-EARTH</title>

  <link rel="stylesheet" type="text/css" href="gridstyle.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

  <script>

    var models = new Array('TRADE', 'BIO', 'ENERGY', 'LIFE');
  	var countries = new Array('United States','Mexico','Canada','Oceania','Japan','China and East Asia','Southeast Asia','India','Rest of South Asia','Brazil','Latin America','Western Europe','Central Europe','Mid-East and N Africa','Sub-Saharan Africa','Russia+');
    var commodities = new Array('Agriculture and Forestry', 'Oil', 'Natural Gas', 'Coal', 'Petroleum', 'Other Manufacturing', 'Chemicals', 'Cement/mineral Products', 'Iron and Steel', 'Nonferrous Metal', 'Electricity', 'Elec-Wind', 'Elec-Solar', 'Elec-Nuclear', 'Elec-Hydro', 'Coal-fired Power', 'Base Gas', 'Peak Gas', 'Peak Oil', 'Transmission', 'Land Transport', 'Air Transport', 'Sea Transport', 'Other Services', 'Government Services', 'Investment'); // These are all electricity sources, maybe indicate that to users
    var years = new Array();

    for (var i=4; i<=24; i++) {
        years.push(2000 + i);
    }

    function drawArr(list, object) {
        for (var k=0; k<list.length; k++) {
            object.append("<input type='checkbox' name='" + String(list[k]) +  "'>" + String(list[k]));
        }
    }

    function drawModels(models) {
        for (var m=0; m<models.length; m++) {
            $('.models').append("<input type='radio' name='model'>" + String(models[m]));
        }
    }

  	function drawForm() {
  		for (var j=0; j<countries.length; j++) {
            document.write(countries[j] + "<input type='checkbox' name='"+countries[j]+"'>");
        }
  	}
  
  </script>

  <script src="gridscript.js"></script>

  <style>

      #formdiv{
        width: 90%;
      }

      .scenario input[type='checkbox']{
          margin-left: 5px;
          margin-right: 2px;
      }

      .scenario input[type='radio']{
          margin-left: 8px;
          margin-right: 3px;
      }

      .scenario input[type='text']{
          width: 180px;
          margin-left: 5px;
      }

      .scenario .title{
          font-family: sans-serif;
          padding-left: 3px;
          padding-right: 2px;
      }

      li{
        margin-bottom: 5px;
      }

  </style>

  
</head>

<body>
    <div id="formdiv">
        <form>
          <span class="models"></span>
          <ul class="scenario" id="scenario-1">
                <!-- <li class="years">
                    <span class="title">Years: </span>
                </li> -->
                <li>
                    <span class="title">Name: </span>
                    <input type="text" name="name" class="name" placeholder="Scenario 1">
                </li>
                <li>
                    <span class="title">Description: </span>
                    <textarea rows=3 cols=50 name="description" class="description" placeholder="Scenario 1 Description" style="display: block;resize:none;"></textarea>
                </li>
                <!-- <li class="countries">
                    <span class="title">Countries: </span>
                </li> -->
                <!-- <li class="commodities">
                    <span class="title">Commodities: </span>
                </li> -->
                <br>
                <div id="grid_div">
                  <script>gridDraw();</script>
                </div>
                <br>
                <input type="button" class="remove" value="remove">
                <hr><hr><hr>
            </ul>
            <!-- <input type="button" id="submitAll" value="Submit"> -->
        </form>
    </div>

    <input id="add" type="button" value="+" style="font-size: 2em;">
    <br>
    <input type="button" id="submitAll" value="Submit" style="font-size: 2em;">
    <br>
<!-- What's being set is a Carbon Tax. Plot points of *tax by year by region*. On old page, column headers get *years* | Maybe auto-fill description field based on plugged data points -->
<!-- GUI will eventually write a shell script with a descriptive name of the scenario being run. First file to worry about auto-creating is the .dat file -->
    <script>
      drawModels(models);
      // drawArr(years, $('li.years'));
      // drawArr(countries, $('li.countries'));
      // drawArr(commodities, $('li.commodities'));

      $(document).ready(function() {
          var scen = $('#scenario-1').clone(true); // Set aside clone of scenario with standalone names ('name', 'description', '0', etc.)
          var scenCount = 1;
          $('#scenario-1').find('input').attr('name', function(i, val) {
            return val + '-' + scenCount; // Append '-1' to scenario 1 input names
          });
          $('#scenario-1').find('textarea').attr('name', function(i, val) {
            return val + '-' + scenCount; // Append '-1' to scenario 1 description name
          });
  		    $('#add').click(function() {
                scenCount++;
                var newscen = scen.clone(true);
                $("form").append(newscen);
                var index = $('ul.scenario').length; // Count clones
                var inputs = newscen.find('input'); // Grab all inputs in current clone
                inputs.attr('name', function(i, val) {
                    return val + '-' + scenCount; // Add -X to all input names (eg, 2004 -> 2004-1)
                });
                newscen.find('textarea').attr('name', function(i, val) {
                    return val + '-' + scenCount;
                });
                newscen.attr('id','scenario-' + scenCount);
                newscen.find('input.name').attr({'placeholder':'Scenario ' + String(scenCount)});
                newscen.find('textarea').attr({'placeholder':'Scenario ' + String(scenCount) + ' Description'});
            });

          // $('.scenario input[type=button]').on('click', function() {
          //     var index = $('ul.scenario').length; // Count up all scenarios
          //     if (index > 1) {
          //         $(this).parents('ul').remove();
          //     }
          //     else {
          //         alert("Alert: must have at least one scenario.");
          //     }
          // });
  		});

      $('.remove').on('click', function() {
          var index = $('ul.scenario').length; // Count up all scenarios
          if (index > 1) {
              $(this).parents('ul').remove();
          }
          else {
              alert("Alert: must have at least one scenario.");
          }
      });

        /* On removing scenarios: if id numbers are to be reset by order, setting an index by counting must be used. If id numbers are to be conserved, a counter must be used. */

	</script>

</body>
</html>