{% extends 'base.html' %}
{% block page %}
<div id="wrapper" class="clearfix graphless">
<div id="graph-links">
<h2>Available graphs</h2>
<ul>
  <li><h3>Prices</h3>
    <ul>
      <li><a href="/BAU/prices/region">in regions, by commodity</a></li>
      <li><a href="/BAU/prices/commodity">of commodities, by region</a></li>
    </ul>
  </li>
  <li><h3>Emissions</h3>
    <ul>
      <li><a href="/BAU/emissions/region">in regions, by commodity</a></li>
      <li><a href="/BAU/emissions/commodity">per commodities, by region</a></li>
    </ul>
  </li>
  <li><h3>Emission Flows</h3>
    <ul>
      <li><a href="/BAU/emission_flows/region">to (or from) region, by region</a></li>
    </ul>
  </li>
  <li><h3>Expenditures</h3>
    <ul>
      <li><a href="/BAU/expend_sector/region">in regions, on commodity per commodity</a></li>
      <li><a href="/BAU/expend_sector_import/region">in regions, on imported commodity per commodity</a></li>
      <li><a href="/BAU/expend_sector/commodity">on commodities, per commodity by region</a></li>
    </ul>
  </li>
</ul>
</div>
</div>
{% endblock %}